.profile-tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-profile-header {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.custom-tabs {
  display: flex;
  flex: 1;
  width: 100%;
}

.custom-tabs .ant-tabs {
  width: 100%;
}

.custom-tabs .ant-tabs-tab {
  margin: 0 !important;
  padding: 8px 16px !important;
  color: #595959;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #1890ff;
}

.custom-tabs .ant-tabs-tab-active {
  background: #f0f7ff;
}

.custom-tabs .ant-tabs-content {
  height: 100%;
  padding: 16px 24px;
  overflow: auto;
}

.custom-tabs .ant-tabs-content-holder {
  flex-grow: 1;
  border-left: 1px solid #f0f0f0;
}

.custom-tabs .ant-tabs-nav {
  min-width: 200px;
  background-color: white;
}

/* For smaller screens */
@media (max-width: 768px) {
  .custom-tabs {
    flex-direction: column;
  }
  
  .custom-tabs .ant-tabs-content-holder {
    border-left: none;
    border-top: 1px solid #f0f0f0;
  }
  
  .custom-tabs .ant-tabs-nav {
    width: 100%;
  }
} 